* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
}

.header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:70px;
    background:#ffffff;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 40px;
    border-bottom:1px solid #ddd;
}

.logo{
    display:flex;
    align-items:center;
    font-size:24px;
    font-weight:bold;
    color:#e44332;
}

.logo img{
    width:30px;
    margin-right:10px;
}

.nav-links a{
    margin:0 15px;
    text-decoration:none;
    color:#333;
    font-size:16px;
}

.right-section{
    display:flex;
    align-items:center;
}

.open{
  background-color: red;
    margin-right:20px;
    text-decoration:none;
    color:#333;
    padding: 10px;
    border-radius: 10px;
}

.container {
  max-width: 720px;
  margin: 160px auto;
  background: #d9d9d9;
  padding: 40px;
  border-radius: 10px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.logo .brand {
  color: #e44332;
  font-weight: bold;
  font-size: 28px;
}

h1 {
  font-size: 28px;
  margin-bottom: 15px;
  color: #222;
}

.subtitle {
  color: #666;
  margin-bottom: 25px;
}

.card {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 10px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  border-color: #ff1900;
}

.card-icon {
  font-size: 30px;
}

.card-content a {
  text-decoration: none;
  color: #000000;
  font-size: 20px;
}

.card-content p {
  color: #666;
  font-size: 14px;
}

.footer {
  background-color: #222;
  color: #fff;
  padding: 20px 0;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  max-width: 1000px;
  margin: auto;
}

.footer-section {
  margin: 10px;
}

.footer-section h3,
.footer-section h4 {
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 5px 0;
}

.footer-section a {
  color: #ccc;
  text-decoration: none;
}

.footer-section a:hover {
  color: #ff0000;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #444;
  margin-top: 15px;
  padding-top: 10px;
  font-size: 14px;
}