*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  height: 100vh;
}

.header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:70px;
    background:#ffffff;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 40px;
    border-bottom:1px solid #ddd;
}

.logo{
    display:flex;
    align-items:center;
    font-size:24px;
    font-weight:bold;
    color:#e44332;
}

.logo img{
    width:30px;
    margin-right:10px;
}

.nav-links a{
    margin:0 15px;
    text-decoration:none;
    color:#333;
    font-size:16px;
}

.right-section{
    display:flex;
    align-items:center;
}

.open{
  background-color: red;
    margin-right:20px;
    text-decoration:none;
    color:#333;
    padding: 10px;
    border-radius: 10px;
}

.container {
  max-width: 600px;
  margin: 120px auto;
  padding: 20px;
  text-align: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.logo-box {
  width: 32px;
  height: 32px;
  border-radius: 6px;
}

.logo-text {
  font-size: 22px;
  color: #e44332;
  font-weight: bold;
}

h1 {
  margin: 10px 0 25px;
  font-size: 28px;
}

.card {
  background: #d9d9d9;
  padding: 40px;
  border-radius: 12px;
  text-align: left;
  margin-top: 60px;
  margin-bottom: 25px;
}

.card p {
  margin: 0 0 15px;
  font-weight: bold;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: #555;
}

.item span {
  margin-left: 10px;
}

.checked {
  text-decoration: line-through;
  color: #888;
}

.circle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.circle.checked {
  background: #2ecc71;
  border: none;
  color: white;
}

.button {
  margin-top: 20px;
  background-color: #e84735;
  color: white;
  padding: 15px;
  width: 100%;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.button:hover {
  background-color: #cc3a2c;
}

.footer {
  background-color: #222;
  color: #fff;
  padding: 20px 0;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  max-width: 1000px;
  margin: auto;
}

.footer-section {
  margin: 10px;
}

.footer-section h3,
.footer-section h4 {
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 5px 0;
}

.footer-section a {
  color: #ccc;
  text-decoration: none;
}

.footer-section a:hover {
  color: #ff0000;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #444;
  margin-top: 15px;
  padding-top: 10px;
  font-size: 14px;
}
